.dialog-content
{
  display:none
}
.dialog-content-container .dialog-content
{
  display:inherit
}
.dialog-background
{
  position:absolute;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:10000;
  display:none
}
.dialog-background.dialog-veil
{
  background-color:black;
  filter:alpha(opacity=25);
  opacity:.25
}
.dialog-background.dialog-veil-opaque
{
  background-color:#4f514f
}
.dialog-background .dialog-loading-indicator
{
  position:absolute;
  margin:auto;
  top:50%;
  margin-top:-25px;
  height:50px;
  width:100%;
  text-align:center;
  z-index:10001
}
.dialog-background .dialog-loading-indicator span
{
  display:inline-block
}
.dialog-container
{
  z-index:10002;
  position:absolute;
  top:-700px
}
.dialog-container.smallscreen
{
  width:95%;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box
}
.dialog-container .dialog-header
{
  padding:3px;
  height:40px
}
.dialog-container .dialog-header:before,
.dialog-container .dialog-header:after
{
  content:".";
  display:block;
  height:0;
  overflow:hidden
}
.dialog-container .dialog-header:after
{
  clear:both
}
.dialog-container .dialog-header .dialog-header-text
{
  float:left;
  margin-left:10px;
  margin-top:13px;
  margin-bottom:0
}
.dialog-container .dialog-header .dialog-close-button
{
  float:right;
  display:block
}
.dialog-container .dialog-header.draggable
{
  cursor:move
}
.dialog-container .dialog-content-container
{
  position:relative
}
.dialog-container .dialog-content-container iframe
{
  background-color:transparent;
  z-index:1
}
.dialog-container .dialog-content-container .dialog-content-overlay
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:2
}

.page-banner {
  margin: 30px 0; }
  .page-banner img.page-banner-image-large {
    max-height: 220px;
    width: 100%; }

.superhero div.superhero-xp-placeholder-outer {
  top: 0;
  position: absolute;
  height: 100%;
  width: 100%; }
  .superhero div.superhero-xp-placeholder-outer div.superhero-xp-placeholder-inner {
    top: 0;
    height: 100%; }

.superhero-cta-container-large {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  z-index: 3; }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .superhero-cta-container-large {
      width: 20%; } }
  .superhero-cta-container-large .cta-wrapper {
    border-bottom: 1px solid #fff; }
    .superhero-cta-container-large .cta-wrapper:last-child {
      border-bottom: 0; }
    .superhero-cta-container-large .cta-wrapper.one {
      height: 100%; }
    .superhero-cta-container-large .cta-wrapper.two {
      height: 50%; }
    .superhero-cta-container-large .cta-wrapper.three {
      height: 33.3333%; }
    .superhero-cta-container-large .cta-wrapper.four {
      height: 25%; }
  .superhero-cta-container-large .superhero-cta-button {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 100%; }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      .superhero-cta-container-large .superhero-cta-button {
        min-height: 40px; } }
    .superhero-cta-container-large .superhero-cta-button .cta-link {
      -webkit-justify-content: center;
      justify-content: center;
      margin-right: auto;
      padding: 0 20px;
      color: #fff; }
    .superhero-cta-container-large .superhero-cta-button .cta-caret {
      margin-left: auto;
      padding: 10px; }

.superhero div.superhero-xp-placeholder-outer {
  position: relative; }
  .superhero div.superhero-xp-placeholder-outer div.superhero-xp-placeholder-inner {
    position: relative; }

.superhero-cta-container-small {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  box-sizing: content-box;
  top: 0;
  right: 0;
  margin-top: 39.996px;
  width: 17%; }
  @media only screen and (min-width: 768px) and (max-width: 979px) {
    .superhero-cta-container-small {
      width: 20%; } }
  .superhero-cta-container-small .superhero-cta-button {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 60px;
    margin-bottom: 9.996px; }
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      .superhero-cta-container-small .superhero-cta-button {
        min-height: 40px; } }
    .superhero-cta-container-small .superhero-cta-button .cta-link {
      display: -webkit-flex;
      display: flex;
      margin-right: auto;
      padding: 10px;
      color: #fff; }
    .superhero-cta-container-small .superhero-cta-button .cta-caret {
      margin-left: auto;
      padding: 6px; }
