/*
* FONTS
*/
/*
* MEDIA QUERIES
*/
/*
* SPACING
*/
/*
* LAYOUT GRID
*/
.meganavigator-veil.meganavigator-open {
  display: block;
  position: absolute;
  z-index: 9;
  width: 100vw;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.3); }

.meganavigator-tab-bar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.meganavigator-tab {
  display: inline-block;
  -webkit-flex-grow: 1;
  flex-grow: 1; }

.meganavigator-panel {
  display: none;
  width: 100vw;
  z-index: 10;
  background-color: #fff; }

.meganavigator-panel.meganavigator-panel-show {
  display: block;
  position: absolute; }

.meganavigator-flyout-panel {
  background-color: transparent; }

.meganavigator-flyout-contents-open {
  background-color: #fff; }

.meganavigator-panel-contents {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  background-color: #fff; }

.meganavigator-flyout-links,
.meganavigator-flyout-content-panels {
  float: left; }

.meganavigator-flyout-links {
  padding: 0 9px; }

.meganavigator-flyout-content {
  display: none; }

.meganavigator-flyout-content.meganavigator-flyout-show {
  display: block;
  background-color: #fff; }

.meganavigator-flyout-open {
  background-color: #fff; }
/*
* FONTS
*/
/*
* MEDIA QUERIES
*/
/*
* SPACING
*/
/*
* LAYOUT GRID
*/
.meganavigator-reduced-navigation-content {
  top: 0;
  left: 0; }

body.meganavigator-reduced-disable-scrolling,
html.meganavigator-reduced-disable-scrolling {
  overflow: hidden;
  position: fixed;
  height: 100%; }

.meganavigator-reduced-navigation-grid {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99; }

.meganavigator-reduced-veil.meganavigator-open {
  display: block;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: hidden; }

.meganavigator-close {
  color: #f8f8f8;
  font-size: 4em;
  z-index: 100;
  height: 15vw;
  width: 15vw;
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center; }

.meganavigator-reduced-navigation-content-hide {
  display: none; }

.meganavigator-reduced-navigation-panel {
  position: fixed;
  transform: translate(-100%, 0);
  transition: all 0.3s ease-in-out 0.1s;
  background: #fff;
  background: linear-gradient(to bottom, #fff, #f9f9f9);
  padding-top: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 15%;
  display: flex;
  flex-direction: column;
  z-index: 99;
  overflow-y: hidden; }

.meganavigator-reduced-panel-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  overflow-y: scroll; }

.show-mobile-meganav {
  transform: translate(0, 0);
  z-index: 100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 15%;
  position: fixed; }

.xs-header-menu-content {
  padding: 0; }

.meganavigator-reduced-item,
ul .meganavigator-reduced-item,
h3 .meganavigator-reduced-item {
  text-align: left;
  padding: 15px 30px;
  font-size: 14px;
  text-decoration: none; }

.meganavigator-reduced-group-header-selected {
  font-weight: 700; }

.meganavigator-reduced-group-item {
  padding: 10px 40px; }

.meganavigator-reduced-item a {
  text-decoration-line: none;
  text-decoration-color: #00111a;
  align-items: center;
  color: #00111a; }

.meganavigator-reduced-item a:hover {
  color: #00111a;
  text-decoration: none; }

.meganavigator-reduced-item-with-symbol a {
  display: flex;
  justify-content: space-between; }

.meganavigator-reduced-group-hidden {
  display: none; }

.meganavigator-symbol {
  right: 30px;
  display: inline-block; }

.meganavigator-symbol-hidden {
  display: none; }

.meganavigator-reduced-panel-header {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  padding: 20px; }

.meganavigator-reduced-panel-back {
  font-size: 14px;
  background-color: #e6e6e6; }

.meganavigator-reduced-shopall-link {
  font-weight: 700; }

.meganavigator-reduced-panel-footer {
  background: #e6e6e6;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0;
  width: 100%;
  min-height: 75px;
  align-self: flex-end;
  border-top: 1px solid #c8cbcc; }

.meganavigator-reduced-panel-footer-item a {
  display: flex;
  flex-direction: column;
  align-items: center; }

.meganavigator-reduced-img {
  width: 35px;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  display: block; }

.cart-img {
  background-image: url("../../img/Navigation/cart.svg"); }

.help-img {
  background-image: url("../../img/Navigation/help.svg"); }

.header-and-nav._hdr-alt .xs-product-menu.show-mobile-menu {
  display: block; }
