*
{
  box-sizing:content-box
}
.header-promo-drawer *
{
  box-sizing:content-box
}
body
{
  font-family:Arial,Helvetica,sans-serif;
  font-size:11px;
  background-color:#fff
}
img
{
  border-width:0
}
a
{
  color:#2e2f91
}
a:hover
{
  color:#003
}
a.nav
{
  text-decoration:none
}
a.nav:hover
{
  text-decoration:underline
}
h1
{
  font-size:18px
}
h2
{
  font-size:14px;
  font-weight:bold
}
h3
{
  font-size:12px;
  font-weight:bold
}
h1.basic,
.responsive h1
{
  font-size:28px
}
h2.basic,
.responsive h2
{
  font-size:24px
}
h3.basic,
.responsive h3
{
  font-size:18px
}
h4.basic,
.responsive h4
{
  font-size:16px
}
h5.basic,
.responsive h5
{
  font-size:14px
}
h6.basic,
.responsive h6
{
  font-size:13px
}
.discount
{
  color:#d1005d;
  font-weight:bold
}
.discount-price
{
  color:#de0000
}
.price-large
{
  font-size:14px
}
.comparative-list-price,
.strikeout-price
{
  text-decoration:line-through
}
.short-tax-message
{
  font-size:.92em;
  opacity:.7
}
.error,
.alert
{
  font-weight:bold;
  font-size:12px;
  color:#de0000
}
div.error,
div.alert
{
  padding-top:5px;
  padding-bottom:5px
}
.text-large
{
  font-size:14px
}
.text-x-large
{
  font-size:16px
}
.all-caps
{
  text-transform:uppercase
}
.cursor-pointer
{
  cursor:pointer
}
.clear
{
  clear:both
}
.clearfix:before,
.clearfix:after
{
  content:" ";
  display:block
}
.clearfix:after
{
  clear:both
}
.enabled-button
{
  cursor:pointer
}
.disabled-button,
.textbutton.disabled-button
{
  display:none
}
.noscript-padding
{
  padding-top:26px
}
#noscript-warning
{
  position:fixed;
  z-index:101;
  left:0;
  top:0;
  height:16px;
  width:100%;
  padding:5px 0;
  text-align:center;
  font-size:14px;
  font-weight:bold;
  background-color:#fffcce
}
.hidden-pixel
{
  position:absolute;
  top:-1px;
  right:-1px;
  width:1px;
  height:1px
}
@-ms-viewport
{
  width:device-width
}
aside,
nav,
header,
footer,
section,
details,
article
{
  display:block
}
.broadcast-bar,
.cobrand-footer
{
  max-width:960px;
  margin:0 auto
}
.main-panel-inner
{
  margin:0 auto
}
body
{
  margin:0;
  padding:0;
  position:relative
}
.main-nav
{
  position:relative;
  z-index:10
}
.main-content
{
  position:relative;
  z-index:5
}
a
{
  color:#0099e0
}
a:hover
{
  color:#0099e0
}
span.undefined-price
{
  white-space:nowrap
}
.emphasis
{
  font-weight:bold
}
.form-label,
div.top-label
{
  font-size:12px;
  color:#00111a
}
.urgent-instruction
{
  color:#e00808
}
.discount-price
{
  color:#eb0a87;
  font-weight:bold;
  font-size:inherit
}
h1 .discount-price
{
  font-weight:inherit
}
html
{
  -webkit-text-size-adjust:100%
}
body
{
  font-size:12px
}
body.responsive
{
  height:100%
}
.standard-layout .main-panel
{
  text-align:center
}
.standard-layout .main-panel-inner
{
  margin-left:auto;
  margin-right:auto;
  text-align:left
}
.standard-layout .main-content
{
  clear:both
}
body.fluid-width.fluid-width-capped .main-content
{
  max-width:1284px;
  margin-left:auto;
  margin-right:auto
}
body.fluid-width.fluid-width-capped .footer-container
{
  max-width:none
}
